/* FrontPage Styles*/
.frontPage-container{
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-left: 280px;
    padding-right: 285px;
    padding-bottom: 495px;
    overflow-y: scroll;
}

.frontPage-header_container {
    height: 73px;
    display: flex;
    align-items: center;
}

.frontPage-header-logo {
    height: 35.22px;
    width: 268px;
    object-fit: contain;
}
.frontPage-body {
    display: flex;
    width: 855px;
}

.frontPage-body_text {
    color:white;
    font-weight: 300;
    font-size: 55px;
    font-family: 'Domine', serif;
}

.frontPage-footer_container{
    display: flex;
    width: 900px;
    height:97px;
}

.frontPage-footer_text{
    color:white;
    font-weight: 300;
    font-size: 55px;
    font-family: 'Domine', serif;
}