.article-container{
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-left: 280px;
    padding-right: 285px;
}

.header-container {
    height: 73px;
    display: flex;
    align-items: center;
}

.header-logo {
    height: 35.22px;
    width: 268px;
    object-fit: contain;
}
.article-body {
    display: flex;
    width: 855px;
}

.article-body_text {
    color:white;
    font-weight: 300;
    font-size: 55px;
    font-family: 'Domine', serif;
}

.footer-container{
    display: flex;
    width: 900px;
    height:97px;
}

.footer-text{
    color:white;
    font-weight: 300;
    font-size: 55px;
    font-family: 'Domine', serif;
}